<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ static_url("css/style.scss") }}">
    <link rel="stylesheet" href="{{ static_url("css/uikit.css") }}">
    <title>Поколение Z</title>
  </head>
  <body>
    <div class="uk-grid">
        <div class="uk-heading-medium uk-heading-divider uk-width-1-2">Поколение Z</div>
        <div class="uk-width-1-2">
            <nav class="uk-navbar-container">
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent"><a href="/registration">Регистрация</a></li>
                        <li class="uk-parent"><a href="/">Главная страница</a></li>
                        <li class="uk-active"><a href="/aboutus">О нас</a></li>
                        <li class="uk-parent"><a href="/personalarea">Личный кабинет</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="uk-text-large uk-grid">
      <div class="uk-width-1-5">
        Власов Андрей
      </div>
      <div class="uk-width-1-5">
        Игнатов Егор
      </div>
      <div class="uk-width-1-5"> 
        Володин Дмитрий
      </div>
    </div>
    <div class="uk-text-small uk-grid">
      <div class="uk-width-1-5">
        Ахуенный долбаёб 1
      </div>
      <div class="uk-width-1-5">
        Ахуенный долбаёб 2
      </div>
      <div class="uk-width-1-5"> 
        Ахуенный долбаёб 3
      </div>
    </div>
    <!-- 
        О нас.
        Поля:
        3 лица с именами и фамилиями и описание какие мы классные :3
        Наши контакты телефона
        Почта
    -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{ static_url("js/uikit.min.js") }}"></script>
    <script src="{{ static_url("js/uikit-icons.min.js") }}"></script>
    <script src="{{ static_url("js/scripts.js") }}"></script>
  </body>
</html>