<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Админ-панель</title>
</head>
<body>
    <!-- 
        1)Здесь необходимы поля с назначением группе квестов. 
        Тобишь выбирается квест и назначается определенной группе.
        2)Также создание квестов по типу: название квеста и описание квеста. 
        Также сразу например можно получить или же выделить кому
        надо назначать (группе) эти квесты при создании.
     -->
</body>
</html>