{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="img/icons/favicon.png"/>
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/message.css">
	<link rel="stylesheet" href="http://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div >
				<div>
					<h2>Your account successfully registered. <a href="/login"><h2 style="text-align: center;">Login?</h2></a></h2>
				</div>
			</div>
		</div>
	</div>
<!--===============================================================================================-->	
	<script src={% static "js/jquery/jquery-3.2.1.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "js/registration.js" %}></script>
</body>
</html>