{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Профиль {{ user.username }} {% endblock %}
{% block content %}
Имя: {{ user.first_name }}
Фамилия: {{ user.last_name }}
E-Mail: {{ user.email }}
Возраст: {{ user.age }}
Группа: {{ user.group }}
{% endblock %}

        <!--
    Личный кабинет.
        Поля:
            Фотка участника
            Имя
            Фамилия
            Возраст
            Место учёбы
            Почта
            Пароль
            Номер группы
    Насчёт квестов:
    1)Тут короче несколько курсов и в каждом курсе есть квесты. 
    Так что разворачивающиеся списки думаю с картинками и текстом хватит. Также статус выполнения.
    -->