{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}Регистрация{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<style>
	.container{
		height: 100%;
		align-content: center;
	}

	.card{
		margin-top: auto;
		margin-bottom: auto;
		width: 400px;
		background-color: rgba(0,0,0,0.5) !important;
	}

	@import url('https://fonts.googleapis.com/css?family=Numans');

	html,body{
		background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		font-family: 'Numans', sans-serif;
	}
	.w {
		color: white;
	}
	.input-group-prepend span{
		width: 50px;
		background-color: #FFC312;
		color: black;
		border:0 !important;
	}
	.btn-google {
		color: #fff;
		background-color: #db4e3f!important;
	}
	.btn-google:hover {
		background-color: #df6254!important;
	}
</style>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<article class="card-body mx-auto" style="max-width: 400px;">
					<h4 class="card-title mt-3 text-center w">Create Account</h4>
					<p class="text-center w">Get started with your account</p>
					<p>
						<a href="#" class="btn btn-block" style="background-color: #405D9D; color: #fff;"><i class="fab fa-vk pr-1"></i>Login via VK</a>
						<a href="#" class="btn btn-block btn-google"><i class="fab fa-google pr-1"></i> Login via google</a>
					</p>
					<p class="w text-center">OR</p>
					</p>
					<form method="POST" data-toggle="validator">
						{% csrf_token %}
						{{ form.errors }}
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
							{% with field=form.username %}
								{{ field.errors }}
								{% render_field field class="form-control" placeholder=field.label %}
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
							{% with field=form.first_name %}
								{{ field.errors }}
								{% render_field field class="form-control" placeholder=field.label %}
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-user-circle"></i></span>
							</div>
							{% with field=form.last_name %}
								{{ field.errors }}
								{% render_field field class="form-control" placeholder=field.label %}
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-envelope"></i></span>
							</div>
							{% with field=form.email %}
								{{ field.errors }}
								{% render_field field class="form-control" placeholder=field.label %}
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-id-card"></i></span>
							</div>
							{% with field=form.age %}
								{{ field.errors }}
								{% render_field field class="form-control" placeholder=field.label %}
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-briefcase"></i></span>
							</div>
							{% with field=form.work_place %}
								{{ field.errors }}
								{% render_field field class="form-control" placeholder=field.label %}
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-lock"></i></span>
							</div>
							{% with field=form.password1 %}
								{{ field.errors }}
								{% render_field field class="form-control" placeholder=field.label %}
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-lock"></i></span>
							</div>
							{% with field=form.password2 %}
								{{ field.errors }}
								{% render_field field class="form-control" placeholder=field.label %}
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="form-check form-check-inline">
								<input name="privacy_policy_agreement" class="form-check-input" type="checkbox" id="inlineCheckbox" value="option">
								<label class="form-check-label w" for="inlineCheckbox">I agree with the <a href="#">privacy policy</a></label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Create Account</button>
						</div>
						<p class="text-center w">Have an account?<a href="/auth/login">Log In</a></p>  
					</form>
				</article>
			</div>
		</div>
	</div>
{% endblock %}