{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}Регистрация{% endblock %}

{% block header %}{% endblock %}
{% block content %}
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<article class="card-body mx-auto" style="max-width: 400px;">
					<h4 class="card-title mt-3 text-center w">Create Account</h4>
					<p class="text-center w">Get started with your account</p>
					<p>
						<a href="#" class="btn btn-block" style="background-color: #405D9D; color: #fff;"><i class="fab fa-vk pr-1"></i>Login via VK</a>
						<a href="#" class="btn btn-block btn-google"><i class="fab fa-google pr-1"></i> Login via google</a>
					</p>
					<p class="w text-center">OR</p>
					</p>
					<form method="POST" class="needs-validation" novalidate>
						{% csrf_token %}
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
							{% with WIDGET_ERROR_CLASS='is-invalid' WIDGET_REQUIRED_CLASS='form-control' field=form.username %}
								{% render_field field placeholder=field.label required=on %}
								<div class="invalid-feedback">
									{% for error in field.errors %}
										<span class="error-message">{{ error }}</span>
										{% if not forloop.first %}
											<br>
										{% endif %}
									{% endfor %}
								</div>
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
							{% with WIDGET_ERROR_CLASS='is-invalid' WIDGET_REQUIRED_CLASS='form-control' field=form.first_name %}
								{% render_field field class="form-control" placeholder=field.label required=on %}
								<div class="invalid-feedback">
									{% for error in field.errors %}
										<span class="error-message">{{ error }}</span>
										{% if not forloop.first %}
											<br>
										{% endif %}
									{% endfor %}
								</div>
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-user-circle"></i></span>
							</div>
							{% with WIDGET_ERROR_CLASS='is-invalid' WIDGET_REQUIRED_CLASS='form-control' field=form.last_name %}
								{% render_field field class="form-control" placeholder=field.label required=on %}
								<div class="invalid-feedback">
									{% for error in field.errors %}
										<span class="error-message">{{ error }}</span>
										{% if not forloop.first %}
											<br>
										{% endif %}
									{% endfor %}
								</div>
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-envelope"></i></span>
							</div>
							{% with WIDGET_ERROR_CLASS='is-invalid' WIDGET_REQUIRED_CLASS='form-control' field=form.email %}
								{% render_field field class="form-control" placeholder=field.label required=on %}
								<div class="invalid-feedback">
									{% for error in field.errors %}
										<span class="error-message">{{ error }}</span>
										{% if not forloop.first %}
											<br>
										{% endif %}
									{% endfor %}
								</div>
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-id-card"></i></span>
							</div>
							{% with WIDGET_ERROR_CLASS='is-invalid' WIDGET_REQUIRED_CLASS='form-control' field=form.age %}
								{% render_field field class="form-control" placeholder=field.label required=on %}
								<div class="invalid-feedback">
									{% for error in field.errors %}
										<span class="error-message">{{ error }}</span>
										{% if not forloop.first %}
											<br>
										{% endif %}
									{% endfor %}
								</div>
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-briefcase"></i></span>
							</div>
							{% with WIDGET_ERROR_CLASS='is-invalid' WIDGET_REQUIRED_CLASS='form-control' field=form.work_place %}
								{% render_field field class="form-control" placeholder=field.label required=on %}
								<div class="invalid-feedback">
									{% for error in field.errors %}
										<span class="error-message">{{ error }}</span>
										{% if not forloop.first %}
											<br>
										{% endif %}
									{% endfor %}
								</div>
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-lock"></i></span>
							</div>
							{% with WIDGET_ERROR_CLASS='is-invalid' WIDGET_REQUIRED_CLASS='form-control' field=form.password1 %}
								{% render_field field class="form-control" placeholder=field.label required=on %}
								<div class="invalid-feedback">
									{% for error in field.errors %}
										<span class="error-message">{{ error }}</span>
										{% if not forloop.first %}
											<br>
										{% endif %}
									{% endfor %}
								</div>
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-lock"></i></span>
							</div>
							{% with WIDGET_ERROR_CLASS='is-invalid' WIDGET_REQUIRED_CLASS='form-control' field=form.password2 %}
								{% render_field field class="form-control" placeholder=field.label required=on %}
								<div class="invalid-feedback">
									{% for error in field.errors %}
										<span class="error-message">{{ error }}</span>
										{% if not forloop.last %}
											<br>
										{% endif %}
									{% endfor %}
								</div>
							{% endwith %}
						</div>
						<div class="form-group input-group">
							<div class="form-check form-check-inline">
								<input name="privacy_policy_agreement" class="form-check-input" type="checkbox" id="inlineCheckbox" value="option">
								<label class="form-check-label w" for="inlineCheckbox">I agree with the <a href="#">privacy policy</a></label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Create Account</button>
						</div>
						<p class="text-center w">Have an account?<a href="/auth/login">Log In</a></p>  
					</form>
				</article>
			</div>
		</div>
	</div>
{% endblock %}